
.form-container {
    width: 100%; /* 可以根据需要调整百分比 */
    height: 600px; /* 可以根据需要调整像素值 */
    margin: 0 auto; /* 使容器水平居中 */
    padding: 20px; /* 增加内边距，使内容不贴边 */
    box-sizing: border-box; /* 确保内边距和边框包含在宽度和高度内 */
}

/* 如果你想让文本区域也变大，可以这样设置 */
textarea.form-control {
    height: 200px; /* 增加到你想要的高度 */
    width: 100%; /* 确保文本区域宽度占满容器 */
}

.form-control {
    height: 40px;
    font-size: 20px;
}

.btn {
    background-color: #218838;
    box-shadow: gray 3px 3px 3px;
    color: #fff;
}

.btn:hover {
    background-color: #104e1e;
}

.page-title {
    font-size: 25px;
    font-weight: bold;
}